<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>Sirix</h2>
        </header>
        <p>Sirix is a log-structured <strong>temporal NoSQL document</strong> store
        <br />
        empowered by a novel sliding snapshot versioning algorithm
        <br />
        and a query processor
        <br />
        which allows time travel queries.
        <br />
        See our open source <a href="https://github.com/sirixdb/sirix">repository</a>.
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
            </ul>
        </footer>

    </div>

</section>
