<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>SirixDB</h2>
        </header>
        <p>SirixDB is a log-structured <strong>temporal NoSQL document</strong> store
        <br />
        powered by a huge persistent trie-structure, which is built using copy-on-write snapshots.
        <br />
        A novel sliding snapshot versioning algorithm further more versions data pages
        <br />
        and a query processor supports sophisticated time travel queries.
        <br />
        See the Open Source <a href="https://github.com/sirixdb/sirix">repository</a>.
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
            </ul>
        </footer>

    </div>

</section>
