<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>SirixDB</h2>
        </header>
        <p>SirixDB is a hybrid disk-oriented and in-memory database system.
        <br />
        It has a lightweight low-overhead buffer-manager, which is able to store in-memory page references.
        <br />
        It is a log-structured <strong>temporal document</strong> store
        <br />
        and stores the histories of all resources in a space-efficient manner.
        <br />
        It supports the efficient reconstruction of any revision as well as comparisons.
        <br />
        A query processor supports sophisticated time travel queries.
        <br />
        See the Open Source <a href="https://github.com/sirixdb/sirix">repository</a>.
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
            </ul>
        </footer>

    </div>

</section>
