
			<header id="header">
				<h1 id="logo"><a href="/">SirixDB</a></h1>
				<nav id="nav">
					<ul>
						<li class="current"><a href="/">Welcome</a></li>
						<li class="submenu">
							<a href="docs/documentation.html">Documentation</a>
							<ul>
								<li><a href="docs/documentation.html">Introduction</a></li>
								<li><a href="docs/features.html">Features in a nutshell</a></li>
								<li><a href="docs/concepts.html">Concepts</a></li>
								<li class="submenu">
									<a href="">APIs</a>
									<ul>
										<li><a href="docs/transactional-cursor-api.html">Transactional</a></li>
										<li><a href="docs/jsoniq-api.html">JSONiq</a></li>
										<li><a href="docs/dom-alike-api.html">DOM alike</a></li>
										<li><a href="docs/rest-api.html">RESTful</a></li>
									</ul>
								</li>
								<li><a href="docs/python-sdk.html">Python SDK</a></li>
							</ul>
						</li>
						<li><a href="https://sirix.discourse.group">Community Forum</a></li>
                                                <li><a href="contact.html">Contact</a></li>
						<li><a href="https://github.com/sirixdb/sirix" class="button primary">Fork me on Github</a></li>
					</ul>
				</nav>
			</header>
