<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="no-sidebar">

    {% include header.html %}
    <div class="page-content">
        {% include article-head.html %}
            {{ content }}
        {% include article-foot.html %}
    </div>
    {% include footer.html %}

    <!-- Scripts -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.dropotron.min.js"></script>
    <script src="js/jquery.scrolly.min.js"></script>
    <script src="js/jquery.scrollex.min.js"></script>
    <script src="js/browser.min.js"></script>
    <script src="js/breakpoints.min.js"></script>
    <script src="js/util.js"></script>
    <script src="js/main.js"></script>

  </body>

</html>
