---
layout: default
---
<article class="post container container--narrow">
  <header class="post__header">
    <h1 class="post__title">{{ page.title }}</h1>
    <time class="post__meta" datetime="{{ page.date | date_to_xmlschema }}">
      {{ page.date | date: "%B %-d, %Y" }}
    </time>
  </header>
  <div class="post__content">
    {{ content }}
  </div>
  <nav class="post__nav">
    {% if page.previous %}
      <a href="{{ page.previous.url }}" class="post__nav-link">&larr; {{ page.previous.title }}</a>
    {% endif %}
    {% if page.next %}
      <a href="{{ page.next.url }}" class="post__nav-link">{{ page.next.title }} &rarr;</a>
    {% endif %}
  </nav>
</article>
